.buttons {
  //   height: 100%;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  //   background-color: brown;
  justify-content: space-around;
  button {
    border: none;
    background-color: steelblue;
    color: white;
    height: 30px;
    width: 150px;
    border-radius: 5px;
  }
}
