.main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  h2 {
    color: steelblue;
  }
  .optionsHolder {
    margin-top: 50px;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-bottom: 100px;
    gap: 100px;
    margin-left: 50px;
  }
  .calendarHolder {
    display: flex;
    align-items: start;
    justify-content: center;
    // gap: 50px;
  }
}
