.fill {
  background: steelblue;
}
.empty {
  // background-color: gray;
  border-top: 1px solid rgb(216, 216, 216);
}
.fill,
.empty,
.multi {
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: normal;
}

.multi {
  background-color: green;
}
