.userNamesContainer {
  // flex: 1;
  // background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    color: steelblue;
  }
  h2 {
    color: steelblue;
    margin-bottom: 50px;
  }
  .userName {
    font-weight: italic;
    font-size: 18px;
  }
  select {
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    height: 30px;
    width: 120px;
    text-align: center;
  }
  button {
    border: none;
    background-color: steelblue;
    color: white;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
  }
  .nameHolder {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: max-content;
  }
}
